@using Alphabody.LojaVirtual.Web.HtmlHelpers

@model Alphabody.LojaVirtual.Web.Models.ProdutosViewModel



@{
    ViewBag.Title = "ListaProdutos";
}

<h2>ListaProdutos</h2>



@foreach (var item in Model.Produtos) {
    
   
    
    @Html.Partial("ProdutoDetalhesView", item)

     
    
}

<div class="btn-group pull-right">

 @Html.PageLinks(Model.Paginacao, aux => Url.Action("ListaProdutos", new { pagina = aux })) 

    </div>
<!--tml.PageLinksSimplesMeu(Model.Paginacao) -->



